
<tbody>
    <tr data-item-id="1" class="item-row">
        <td>
            @Html.Hidden("ItmCustomerID")
            @Html.Hidden("ItmOfferID")
            @Html.Hidden("ItmResellerID")
        </td>
        <td>
            @Html.TextBox("ItmCustomerName")
        </td>
        <td>
            @Html.TextBox("ItmOfferName")
        </td>
        <td>
            @Html.TextBox("ItmFriendlyName")
        </td>
        <td>
            @Html.TextBox("ItmQuantity")
        </td>
        <td>
            @Html.TextBox("ItmResellerName")
        </td>

        <td>
            <a href="#!" data-original-title="Remove" data-placement="top" class="btnRemoveItem btn btn-xs btn-red tooltips"><i class="fa fa-times fa fa-white"></i></a>
        </td>
    </tr>
</tbody>
