<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href=@Url.Content("~/Content/eliteadmin/plugins/images/favicon.ico")>
    <title>WSI - @ViewBag.Title</title>
    <!-- Bootstrap Core CSS -->
    <link href=@Url.Content("~/Content/eliteadmin/bootstrap/dist/css/bootstrap.css") rel="stylesheet">
    <!-- animation CSS -->
    <link href=@Url.Content("~/Content/eliteadmin/css/animate.css") rel="stylesheet">
    <!-- Custom CSS -->
    <link href=@Url.Content("~/Content/eliteadmin/css/style.css") rel="stylesheet">
    <!-- color CSS -->
    <link href=@Url.Content("~/Content/eliteadmin/css/colors/gray-dark.css") id="theme" rel="stylesheet"><!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
  

    <script src=@Url.Content("~/Content/eliteadmin/plugins/bower_components/jquery/dist/jquery.js")></script>
    <!-- Bootstrap Core JavaScript -->
    <script src=@Url.Content("~/Content/eliteadmin/bootstrap/dist/js/tether.min.js")></script>
    <script src=@Url.Content("~/Content/eliteadmin/bootstrap/dist/js/bootstrap.js")></script>
</head>



<body>
    <!-- Preloader -->
    @*<div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>*@
    <div class="preload">
        <img src="@Url.Content("~/Content/loadingpage.gif")">
    </div>

    <section id="wrapper" class="login-register RegisterPage">
        <div class="login-box">
            <div class="white-box" style="position:relative;">
                <div class="form-horizontal form-material" id="loginform" >
                    @*<h3 class="box-title m-b-20">Sign In</h3>*@



                    @RenderBody()


                    @*<div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" required="" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" required="" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary p-t-0">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a href="login.html" class="text-primary m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </section>


    
    <!-- /#wrapper -->
    <!-- /#wrapper -->
    <!-- jQuery -->
      <!-- Menu Plugin JavaScript -->
    <script src=@Url.Content("~/Content/eliteadmin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.js")></script>
    <!--slimscroll JavaScript -->
    <script src=@Url.Content("~/Content/eliteadmin/js/jquery.slimscroll.js")></script>
    <!--Wave Effects -->
    <script src=@Url.Content("~/Content/eliteadmin/js/waves.js")></script>
    <!-- Custom Theme JavaScript -->
    <script src=@Url.Content("~/Content/eliteadmin/js/custom.js")></script>
    <script src=@Url.Content("~/Content/eliteadmin/js/jasny-bootstrap.js")></script>
    <!--Style Switcher -->
    <script src=@Url.Content("~/Content/eliteadmin/plugins/bower_components/styleswitcher/jQuery.style.switcher.js")></script>

    <!-- Date Picker Plugin JavaScript -->
    <script src=@Url.Content("~/Content/eliteadmin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js")></script>

    <script>

        //loading

        $(".preload").fadeOut(500, function () {
            $("#wrapper").fadeIn(1000);
        });


        $("#side-menu li a").click(function () {
            $(".preload").show();
        });


        $("#page-wrapper a").click(function () {
            $(".preload").show();
        });
      
        // Date Picker
        $('.mydatepicker, #datepicker').datepicker();

    </script>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
