@using Portal.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="login-box login-sidebar">
                    <div class="white-box">
                        <div class="form-horizontal form-material" id="loginform">
                            <a href="javascript:void(0)" class="text-center db">
                                <img src="@Url.Content("~/Content/eliteadmin/plugins/images/eliteadmin-logo-dark.png")" alt="Home" />
                                @*<br /><img src="@Url.Content("~/Content/eliteadmin/plugins/images/eliteadmin-text-dark.png")" alt="Home" />*@
                            </a>


                            @Html.ValidationSummary(true, "", new { @class = "text-danger m-t-40", @style = "display:block;" })

                            <div class="form-group m-t-40">
                                <div class="col-xs-12">
                                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Username" })
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <a href="@Url.Action("ForgotPassword")" id="to-recover" class="text-dark pull-right"><i class="fa fa-lock m-r-5"></i> Forgot Password?</a>
                                </div>
                            </div>

                           
                            <div class="form-group text-center m-t-20">
                                <div class="col-xs-12">
                                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                                </div>
                            </div>


                            <div class="form-group m-b-0">
                                <div class="col-sm-12 text-center">
                                    <p>Don't have an account? <a href="@Url.Action("Register", "Register")" class="text-primary m-l-5"><b>Sign Up</b></a> </p>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>                
            }
        