@model Portal.Models.ResellerTicket

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Delete</h4>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">Are you sure you want to delete this?</div>
            <div class="panel-wrapper collapse in" aria-expanded="true">
                <div class="panel-body">
                    <div class="form">



                        <div class="form-group row">
                            <label class="col-2 col-form-label">From</label>
                            <div class="col-5">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Reseller.ResellerName) (@Html.DisplayFor(model => model.Reseller.MPNID))</p>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-2 col-form-label">Title</label>
                            <div class="col-5">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Ticket.Title)</p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-2 col-form-label">Description</label>
                            <div class="col-5">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Ticket.Description)</p>
                            </div>
                        </div>

                       
                        <div class="form-group row">
                            <label class="col-2 col-form-label">Status</label>
                            <div class="col-5">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Ticket.Status)</p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-2 col-form-label">Ticket Date</label>
                            <div class="col-5">
                                <p class="form-control-static">@Html.DisplayFor(model => model.Ticket.TicketDate)</p>
                            </div>
                        </div>


                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group m-b-0">
                                <div class="offset-sm-2 col-sm-9">
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                    <a href="@Url.Action("Admin")" class="btn btn-inverse">Back</a>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--./row-->


<script>

    $(document).ready(function () {

        //sidebar highlight
        $('#side-menu li:nth-child(5) a').addClass("active");

    });

</script>